doctype html
html
    head
        script(async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD3TuyvO6Bg-XvIIc1pQigKvQzD6CIcLw")
        meta(charset="UTF-8")
        title 0fertam
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="description" content="Ofertes puntuals")
        meta(name="author" content="Ivan Bardon")
        meta(name="mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="traslucent")
        meta(name="apple-mobile-web-app-title" content="0fertam")
        link(rel="shortcut icon" type="image/x-icon" href="img/favicon.ico")
        link(rel="apple-touch-icon" sizes="120x120" href="img/logo.png")
        link(rel="stylesheet" type="text/css" href="css/estilos.css")

    body
        h1 0fertam
        div#demo
        div#map


        
        script(type="text/javascript" src="vendors/jquery-3.1.0.min.js")
        script(type="text/javascript" src="vendors/underscore.js")
        script(type="text/javascript" src="vendors/backbone.js")
        script(type="text/javascript" src="js/main.js")
        
